@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <div class="container">
        <div class="row d-flex">
            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/doctorWoman.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Prof.Dr.Selena Ak</h5>
                    <p class="card-text">Kalp Damar Cerrahisi</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/doctor.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">
                        Prof.Dr.
                        Ahmet Salim GÖKTEPE
                    </h5>
                    <p class="card-text">Psikayatri</p>
                    
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/doctorWoman.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Prof.DR.Buse Alpman</h5>
                    <p class="card-text">Endokronoloji</p>
                    
                </div>
            </div>

            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/doctor.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Prof.Dr.Kayra Salur</h5>
                    <p class="card-text">Nöroloji</p>
                    
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/doctor.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Prof.Dr.Yılmaz Tural</h5>
                    <p class="card-text">Ortopedi</p>
                    
                </div>
            </div>

            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/doctor.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Prof.Dr.Muhammed Büte</h5>
                    <p class="card-text"> Kulak Burun Boğaz</p>
                    
                </div>
            </div>
        </div>

        <!-- Add more rows here for additional cards -->
    </div>
</body>