<body>
    <div class="container">
        <div class="row d-flex">
            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/ear.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Kulak Burun Boğaz Hastalıkları ve Baş Boyun Cerrahisi</h5>
                    <p class="card-text">Kulak, Burun, Boğaz ve Baş Boyun hastalıklarının hem tıbbi hem de cerrahi tedavi hizmetleri en son bilimsel ve teknolojik gelişmeler ışığında sunulmaktadır.</p>
                    
                </div>
            </div>

            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/bone.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Ortopedi ve Travmatoloji Hastalıkları</h5>
                    <p class="card-text">Travma; düşme, spor yaralanması, iş kazası veya trafik kazası gibi etkenlerle çoğu zaman bir sürpriz ile karşımıza çıkar. Meydana gelen hasar, travmanın şiddetine göre, basit bir yumuşak doku ezilmesinden büyük kemiklerde parçalı kırıklara kadar değişebilir..</p>
                    
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/endocrine.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Endokronoloji</h5>
                    <p class="card-text">Endokrinoloji, endokrin sistemin organları olan salgı bezlerini, bunların salgıladığı hormonları ve bu hormonların etki ettiği organlar ile bunların hastalıklarını inceleyen bilim dalıdır. Endokrinoloji gelişime bağlı büyüme sorunları, metabolizma hastalıkları, üreme hormonların neden olduğu hastalıklar, şeker hastalığı gibi pek çok hastalığı inceler. <p>
                    </p>
                </div>
            </div>

            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/heart.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Kalp Ve Damar Sağlığı</h5>
                    <p class="card-text">
                        Kalp ve Damar Cerrahisi bölümümüzde prematüre yenidoğanlarda, çocuklarda ve erişkinlerde görülebilen hastalıklara yönelik tedaviler, uygun hastaya doğru yöntemlerle (açık, kapalı, robotik cerrahi) yapılmaktadır.

                        .
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
         <div class="row d-flex">
            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/injection.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Genel Cerrahi</h5>
                    <p class="card-text">Genel Cerrahi uygulamalarının en problemli ve zor olguları şüphesiz kanserlerdir. Kliniğimizde mide, pankreas, kalın bağırsak, karaciğer kanserlerinin tedavileri güncel tıp pratiği göz önünde tutularak yapılmaktadır. Bu bağlamda kalın bağırsak kanserlerinde laparoskopik (kapalı) yöntem bir rutin halinde uygulanmaktadır..</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card m-5 col-6" style="width: 18rem;">
                <img src="~/icon/mental-health.png" class="card-img-top" alt="Icon">
                <div class="card-body">
                    <h5 class="card-title">Psikayatri</h5>
                    <p class="card-text">Psikiyatri ya da ruh sağlığı ve hastalıkları; kişinin bedensel sağlığının beynin işleyişinden kaynaklı kaybını ve bu hastalıkların tedavisini içerek bilim dalıdır. Bedensel sağlık, fizyolojik ve psikolojik sağlıkla bütündür. Psikiyatri bölümü, kişilerin çeşitli nedenlerle sağlığını olumsuz etkileyen, nörolojik hastalıklarını konu edinir. Psikiyatrik hastalıklar, abartılmış duygu durumları değildir. Psikiyatrik hastalıkları olan hastalar, kendi kendilerine içinde bulundukları durumdan çıkamayabilirler. Hekim desteği ile psikiyatrik hastalıkların tedavileri mümkündür..</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <!-- Add more rows here for additional cards -->
    </div>
</body>
